<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="netTiersService"  type="ReckoningCounter.DAL.Bases.NetTiersServiceSection, ReckoningCounter.DAL"
      allowDefinition="MachineToApplication"  restartOnExternalChanges="true" />
  </configSections>
  <connectionStrings>
    <add name="CounterServiceManager.Properties.Settings.DatabaseConsumerEndpoint1"
        connectionString="Database=;" providerName="System.Data.SqlClient" />
    <add name="ReckoningCounterService.UI.Properties.Settings.DatabaseConsumerEndpoint1"
        connectionString="Data Source=gta-oldgones;Initial Catalog=VTS_ReckoningCounter;User ID=sa;Password=gtagta123"
        providerName="System.Data.SqlClient" />
    <add name="netTiersConnectionString" connectionString="Data Source=gta-oldgones;Initial Catalog=VTS_ReckoningCounter;Connection Timeout=200;
                  user id=sa;password=gtagta123;Max Pool Size=500;Min Pool Size=5;Pooling=true" />
    <add name="Connection String" connectionString="Data Source=GTA-OLDGONES;Initial Catalog=VTS_ManagementCenter;User ID=sa;Password=gtagta123"
			 providerName="System.Data.SqlClient" />
  </connectionStrings>
  <netTiersService defaultProvider="SqlNetTiersProvider">
    <providers>
      <add  name="SqlNetTiersProvider" type="ReckoningCounter.DAL.SqlClient.SqlNetTiersProvider, ReckoningCounter.DAL"
         connectionStringName="netTiersConnectionString"   providerInvariantName="System.Data.SqlClient"
         entityFactoryType="ReckoningCounter.Entity.EntityFactory"  useEntityFactory="true"  enableEntityTracking="false" enableMethodAuthorization="false"
         useStoredProcedure="true"  />
    </providers>
  </netTiersService>
  <system.serviceModel>
    <services>
      <service name="ReckoningCounter.BLL.AccountManagementAndFind.InterfaceBLL.AccountManagementAndFindService.TraderFindService" behaviorConfiguration="MEX">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8089/DoQueryService" />
          </baseAddresses>
        </host>
        <endpoint address=""  binding="netTcpBinding" bindingConfiguration="nbOrder" contract="ReckoningCounter.BLL.AccountManagementAndFind.InterfaceBLL.ITraderFind" />
        <endpoint address="MEX" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="ReckoningCounter.BLL.CounterOrderService"  behaviorConfiguration="MEX" >
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8088/DoOrderService" />
          </baseAddresses>
        </host>
        <endpoint address=""  binding="netTcpBinding" bindingConfiguration="nbOrder" contract="ReckoningCounter.BLL.IDoOrder" />
        <endpoint address=""  binding="netTcpBinding" bindingConfiguration="nbOrder" contract="ReckoningCounter.BLL.IOrderDealRpt" />
        <endpoint address="MEX" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="nbOrder" maxReceivedMessageSize="6553600">
          <readerQuotas maxStringContentLength="6553600" />
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_ITransactionManage" closeTimeout="00:01:00"
           openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
           transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
           hostNameComparisonMode="StrongWildcard" listenBacklog="10"
           maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
           maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IDoOrder" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" listenBacklog="10"
            maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
            maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IOrderDealRpt" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" listenBacklog="10"
            maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
            maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ICommonPara" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" listenBacklog="10"
            maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
            maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IFuturesTradeRules" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" listenBacklog="10"
            maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
            maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="NetTcpBinding_ISpotTradeRules" closeTimeout="00:01:00"
            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
            transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions"
            hostNameComparisonMode="StrongWildcard" listenBacklog="10"
            maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10"
            maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
              enabled="false" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MEX">
          <serviceMetadata/>
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="1000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="net.tcp://localhost:8085/DoOrderService" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IDoOrder" contract="MatchCenterService.IDoOrder"
          name="NetTcpBinding_IDoOrder" />
      <endpoint address="net.tcp://localhost:8085/OrderDealRpt" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IOrderDealRpt" contract="MatchCenterOrderDealRpt.IOrderDealRpt"
          name="NetTcpBinding_IOrderDealRpt" />
      <endpoint address="net.tcp://192.168.9.130:8081/WcfCommonalityProvider"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICommonPara"
          contract="DevolveVerifyCommonService.ICommonPara" name="NetTcpBinding_ICommonPara" />
      <endpoint address="net.tcp://192.168.9.130:8081/WcfFuturesProvider"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFuturesTradeRules"
          contract="FuturesDevolveService.IFuturesTradeRules" name="NetTcpBinding_IFuturesTradeRules" />
      <endpoint address="net.tcp://192.168.9.130:8081/WcfSpotTradingRulesProvider"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISpotTradeRules"
          contract="SpotTradingDevolveService.ISpotTradeRules" name="NetTcpBinding_ISpotTradeRules" />
      <endpoint address="net.tcp://192.168.9.130:8081/WcfTransactionManageProvider"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITransactionManage"
          contract="TransactionManageService.ITransactionManage" name="NetTcpBinding_ITransactionManage" />
    </client>
  </system.serviceModel>
  <appSettings>
    <!-- 行情分解数据连接字符串 -->
    <add key="ConnectionString" value="Provider=VFPOLEDB.1;Data Source=E:\DBF;Mode=Read;Collating Sequence=MACHINE" />

    <!-- 股本数据连接字符串 -->
    <add key="SqlConnectionString" value="Persist Security Info=True;Data Source=(local);User ID=sa;Password=zjh;Initial Catalog=gta_capchg" />

    <!--实例名称 -->
    <add key="SName" value="GTA-GONES\DEVDEPT" />
    <!--数据库名称 -->
    <add key="DBname" value="RealTime" />
    <!--登陆ID -->
    <add key="UserID" value="RealTime" />
    <!--实例密码 -->
    <add key="Passwords" value="RealTime" />

    <!-- 交易所开市时间 -->
    <add key="MarketOpenTime" value="00:01:00" />

    <!-- 交易所闭市时间 -->
    <add key="MarketCloseTime" value="23:00:00" />

    <!-- 深圳刷新时间间隔 -->
    <!--
    <add key="SZInterval" value="500" />

    -->
    <!-- 上海刷新时间间隔 -->
    <!--
    <add key="SHInterval" value="500" />

    -->
    <!-- 上海原始路径 -->
    <!--
    <add key="BourseSHPath" value="d:\shdbf\" />

    -->
    <!-- 深圳原始路径 -->
    <!--
    <add key="BourseSZPath" value="d:\dbf\" />

    -->
    <!-- 拷贝到的路径 -->
    <!--
    <add key="MyPath" value="E:\dbf\" />-->

    <!--　期货代码列表 -->
    <add key="QhCode" value="IF0707,IF0708,IF0709,IF0712" />
    <!-- 拷贝到的路径 -->
    <add key="CodeFileName" value="Config\Code.xml" />
    <!-- 拷贝到的路径 -->
    <add key="NewCodeFileName" value="NewCode" />

    <!--分解行情的方式-->
    <!--
    -->
    <!-- /// <summary>
        /// Timer触发
         ///
        </summary>
         0,

        /// <summary>
      /// WatchFile触发
      ///
    </summary>
    1,
    -->
    <!--
    <add key="TimerOrWatchFile" value="1" />-->

    <!--是否发送期货数据-->
    <!-- /// <summary>
        /// 不发送期货数据
         ///
        </summary>
         0,

        /// <summary>
      /// 发送期货数据
      ///
    </summary>
    1,
     /// <summary>
      /// 发送期货数据,但是伪造的期货数据
      ///
    </summary>
    2,
    -->
    <add key="SendQhData" value="1" />

    <!-- 日志保存路径 -->
    <add key="LogSavePath" value="e:\Log\" />

    <!-- Socket重新连接次数 -->
    <add key ="SocketReConnectTimes" value="5"/>

    <!-- 帐户验证类型：0=不需要验证；1=分服务器；2=主账号服务器 -->
    <add key="AccountServerType" value="0"/>
    <!-- 主账号服务器地址 -->
    <add key="AccountServerUrl" value="tcp://127.0.0.1:8060"/>
    <!-- 是否启动Remoting服务：true/false -->
    <add key="IsLoadRemoting" value="true"/>
    <!-- 是否接收高频数据 -->
    <add key="IsRecorderServer" value="true"/>
    <!--上海高频数据存放目录-->
    <add key="ShRecorderFilePath" value="e:\dbf\sh"/>
    <!--深圳高频数据存放目录-->
    <add key="SzRecorderFilePath" value="e:\dbf\sz"/>
    <!--代码最后更新日期-->
    <add key="codeListLastUpdateTime" value="2007-10-02" />


    <!--应用的类型-->
    <!-- /// <summary>
        /// 仅服务器
         ///
        </summary>
         STServer,

        /// <summary>
      /// 仅客户端
      ///
    </summary>
    STClient,

    /// <summary>
      /// 既是服务器又是客户端
      ///
    </summary>
    STClientServer,
    -->
    <add key="ServerType" value="STClientServer"/>
    <!--应用作为客户端时 指定需要连接的服务器的ip和服务端口-->
    <add key="ServerSocketPort" value="8050"/>
    <!--<add key="ServerIp" value="210.75.15.11"/>-->
    <add key="ServerIp" value="192.168.8.32"/>
    <!--应用作为服务器/客户端&服务器 时 让客户端连接的服务端口-->
    <add key="LocalSocketPort" value="8052" />
    <!--STClientServer类型的应用第一次连接到STServer应用时，开始发送订阅完整行情信息的延迟时间（毫秒）-->
    <add key="ClientServerSubscibeAllDelayTime" value="3000"/>

    <add key="ResetTimerInterval" value="2000"/>
    <add key="ResetTimeRangeStart" value="10:00"/>
    <add key="ResetTimeRangeEnd" value="12:00"/>

    <!--The backLog limits the listen queue of the OS socket to the defined number-->
    <add key ="SocketBackLog" value="100"/>
    <!--acceptThreads sets the calling number of the socket's BeginAccept to increase the accept performance-->
    <add key ="SocketAcceptThreadCount" value="100"/>

    <!-- 消息缓冲区大小 -->
    <add key="MessageBufferSize" value="3145728"/>
    <!-- Socket缓冲区大小 -->
    <add key="SocketBufferSize" value="3145728"/>
    <!--Udp Socket接收缓存大小-->
    <add key="UdpReciveBufferSize" value="20971520"/>



    <!--上午开市时间-->
    <add key="MarketingAmStartTime" value="9:30"/>
    <!--上午休市时间-->
    <add key="MarketingAmEndTime" value="11:30"/>
    <!--下午开市时间-->
    <add key="MarketingPmStartTime" value="13:00"/>
    <!--下午休市时间-->
    <add key="MarketingPmEndTime" value="14:05"/>
    <!--检查并判断作为断开连接的最后更新时间与现在时间的间隔（毫秒）-->
    <add key="CheckRefreshTimeInterval" value="20000"/>


    <!-- Socket End -->

    <!--UDP Settings Start -->
    <add key="ShUdpAcceptPort" value="38001"/>
    <add key="QhUdpAcceptPort" value="38003"/>
    <add key="SzUdpAcceptPort" value="38002"/>
    <!--UDP Settings end -->

  </appSettings>
</configuration>