<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--程序更新时原件路径-->
    <add key="APPFilePath" value="\\192.168.189.42\测试工具发布\3.0版本测试工具\20100304版本"/>
    <!--程序更新服务器商品-->
    <add key="UpdatePort" value="9999"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
