<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICommonPara" transactionProtocol="OleTransactions">
                    <security mode="None">
                        <message algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IFuturesTradeRules" transactionProtocol="OleTransactions">
                    <security mode="None">
                        <message algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ISpotTradeRules" transactionProtocol="OleTransactions">
                    <security mode="None">
                        <message algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IHKTradeRules" transactionProtocol="OleTransactions">
                    <security mode="None">
                        <message algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IOrderDealRpt">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IDoOrder">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9381/WcfSpotTradingRulesProvider"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISpotTradeRules"
                contract="SpotTradingDevolveService.ISpotTradeRules" name="NetTcpBinding_ISpotTradeRules" />
            <endpoint address="net.tcp://localhost:9381/WcfHKTradingRulesProvider"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IHKTradeRules"
                contract="HKTradingRulesService.IHKTradeRules" name="NetTcpBinding_IHKTradeRules" />
            <endpoint address="net.tcp://localhost:9381/WcfFuturesProvider"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFuturesTradeRules"
                contract="FuturesDevolveService.IFuturesTradeRules" name="NetTcpBinding_IFuturesTradeRules" />
            <endpoint address="net.tcp://localhost:9381/WcfCommonalityProvider"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICommonPara"
                contract="DevolveVerifyCommonService.ICommonPara" name="NetTcpBinding_ICommonPara" />
            <endpoint address="net.tcp://localhost:9288/OrderDealRpt" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IOrderDealRpt" contract="MatchCenterOrderDealRpt.IOrderDealRpt"
                name="NetTcpBinding_IOrderDealRpt" />
            <endpoint address="net.tcp://localhost:9288/DoOrderService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IDoOrder" contract="MatchCenterService.IDoOrder"
                name="NetTcpBinding_IDoOrder" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
