<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<appSettings>

		<!-- 交易所开市时间 -->
		<add key="MarketOpenTime" value="00:01:00" />

		<!-- 交易所闭市时间 -->
		<add key="MarketCloseTime" value="23:00:00" />


		<!--　期货代码列表 -->
		<add key="QhCode" value="IF0707" />
		<!-- 拷贝到的路径 -->
		<add key="CodeFileName" value="Config\Code.xml" />

		<!-- 日志保存路径 -->
		<add key="LogSavePath" value=""/>

		<!-- SocketIP重新连接次数,value=-1为永远重连，适应于服务器类型 -->
		<add key ="SocketReConnectTimes" value="-1"/>


    		<!-- Socket重新连接间隔时间 -->
    		<add key="SocketReConnectInterval" value="3000" />

        	<!-- 定义连接断开的时间(毫秒) -->
        	<add key="DisConnectFlagTimes" value="30000" />

		<!-- 帐户验证类型：0=不需要验证；1=分服务器；2=主账号服务器 -->
		<add key="AccountServerType" value="0"/>

		<!--批量发送商品期货的频率-->
		<add key="MerQhPerSendInterval" value="2000" />
		<!--批量发送港股的频率-->
		<add key="HKSendInterval" value="3000" />

		<!--代码最后更新日期-->
		<add key="codeListLastUpdateTime" value="2010-01-02" />


		<!--应用的类型
		主服务器端：STServer;仅客户端：STClient;分发服务器端：STClientServer
		-->
		<add key="ServerType" value="STClientServer"/>

		<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
		<!--应用作为客户端时 指定需要连接的服务器的ip和服务端口-->
		<add key="ServerSocketPort" value="8050"/>
		<add key="ServerIp" value="192.168.100.34"/>
		<!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
 
		<!--Start客户端模式和分发服务器模式的切换线功能相关配置 IP端口组,以编号结尾,不设置为空-->
    		<!--IP端口组-->
    		<add key="UseChangeLine" value="false" />
    
    		<add key="IPList1" value="192.168.100.95:8050" />
    		<add key="IPList2" value="192.168.187.101:8050" />
    		<add key="IPList3" value="192.168.100.187:8051" />
    		<add key="IPList4" value="" />
    		<add key="IPList5" value="" />

    		<!--reconnectAttempts  一个连接重连次数,一直重新连接为-1 -->
   		<add key="reconnectAttempts" value="-1"/>

    		<!--reconnectAttemptInterval 重连之间的间隔时间(毫秒)-->
    		<add key="reconnectAttemptInterval" value="3000"/>
    		<!--End客户端模式和分发服务器模式的切换线功能相关配置-->



		<!--应用作为服务器/客户端&服务器 时 让客户端连接的服务端口-->
		<add key="LocalSocketPort" value="8010" />
		<!--STClientServer类型的应用第一次连接到STServer应用时，开始发送订阅完整行情信息的延迟时间（毫秒）-->
		<add key="ClientServerSubscibeAllDelayTime" value="200"/>

		<add key="ResetTimerInterval" value="2000"/>
		<add key="ResetTimeRangeStart" value="10:00"/>
		<add key="ResetTimeRangeEnd" value="12:00"/>

		<!--The backLog limits the listen queue of the OS socket to the defined number-->
		<add key ="SocketBackLog" value="100"/>

		<!--acceptThreads sets the calling number of the socket's BeginAccept to increase the accept performance-->
		<add key ="SocketAcceptThreadCount" value="100"/>

		<!-- 消息缓冲区大小 -->
		<add key="MessageBufferSize" value="10145728"/>
		<!-- Socket缓冲区大小 -->
		<add key="SocketBufferSize" value="2145728"/>
		<!--Udp Socket接收缓存大小-->
		<add key="UdpReciveBufferSize" value="1971520"/>

		<!--上午开市时间-->
		<add key="MarketingAmStartTime" value="9:30"/>
		<!--上午休市时间-->
		<add key="MarketingAmEndTime" value="11:30"/>
		<!--下午开市时间-->
		<add key="MarketingPmStartTime" value="13:00"/>
		<!--下午休市时间-->
		<add key="MarketingPmEndTime" value="14:05"/>
		<!--检查并判断作为断开连接的最后更新时间与现在时间的间隔（毫秒）-->
		<add key="CheckRefreshTimeInterval" value="20000"/>
    
    <!--是否启动重新启动服务：true/false-->
    <add key="IsServerRestart" value="false" />
    <!--服务器重新启动时间-->
    <add key="ServerRestartTime" value="23:00" />
	</appSettings>

	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level - %message%newline" />
			</layout>
		</appender>
		<appender name="CommonFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Log\Log.log" />
			<appendToFile value="true" />
			<maximumFileSize value="1000KB" />
			<maxSizeRollBackups value="20" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date - %message%newline" />
			</layout>
		</appender>
		<appender name="LogAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Log\LogInfo.log" />
			<appendToFile value="true" />
			<maximumFileSize value="2000KB" />
			<maxSizeRollBackups value="50" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />

		</root>
		<logger name="CommonLogger" additivity="false">
			<level value="Info" />
			<appender-ref ref="CommonFileAppender" />
		</logger>
		<logger name="InfoLogger" additivity="false">
			<level value="Debug" />
			<appender-ref ref="LogAppender" />
		</logger>
	</log4net>
</configuration>