<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--搓合中心回送通道号-->
    <add key="MCCallbackChannel" value=""/>
    
    <!-- 行情分解数据连接字符串 -->
    <add key="ConnectionString" value="Provider=VFPOLEDB.1;Data Source=E:\DBF;Mode=Read;Collating Sequence=MACHINE"/>

    <!-- 股本数据连接字符串 -->
    <add key="SqlConnectionString" value="Persist Security Info=True;Data Source=(local);User ID=sa;Password=zjh;Initial Catalog=gta_capchg"/>

    <!--实例名称 -->
    <add key="SName" value="GTA-GONES\DEVDEPT"/>
    <!--数据库名称 -->
    <add key="DBname" value="RealTime"/>
    <!--登陆ID -->
    <add key="UserID" value="RealTime"/>
    <!--实例密码 -->
    <add key="Passwords" value="RealTime"/>

    <!-- 交易所开市时间 -->
    <add key="MarketOpenTime" value="00:01:00"/>

    <!-- 交易所闭市时间 -->
    <add key="MarketCloseTime" value="23:00:00"/>

    <!-- 深圳刷新时间间隔 -->
    <!--
    <add key="SZInterval" value="500" />

    -->
    <!-- 上海刷新时间间隔 -->
    <!--
    <add key="SHInterval" value="500" />

    -->
    <!-- 上海原始路径 -->
    <!--
    <add key="BourseSHPath" value="d:\shdbf\" />

    -->
    <!-- 深圳原始路径 -->
    <!--
    <add key="BourseSZPath" value="d:\dbf\" />

    -->
    <!-- 拷贝到的路径 -->
    <!--
    <add key="MyPath" value="E:\dbf\" />-->

    <!--　期货代码列表 -->
    <add key="QhCode" value="IF0707,IF0708,IF0709,IF0712"/>
    <!-- 拷贝到的路径 -->
    <add key="CodeFileName" value="Config\Code.xml"/>
    <!-- 拷贝到的路径 -->
    <add key="NewCodeFileName" value="NewCode"/>

    <!--分解行情的方式-->
    <!--
    -->
    <!-- /// <summary>
        /// Timer触发
         ///
        </summary>
         0,

        /// <summary>
      /// WatchFile触发
      ///
    </summary>
    1,
    -->
    <!--
    <add key="TimerOrWatchFile" value="1" />-->

    <!--是否发送期货数据-->
    <!-- /// <summary>
        /// 不发送期货数据
         ///
        </summary>
         0,

        /// <summary>
      /// 发送期货数据
      ///
    </summary>
    1,
     /// <summary>
      /// 发送期货数据,但是伪造的期货数据
      ///
    </summary>
    2,
    -->
    <add key="SendQhData" value="1"/>

    <!-- 日志保存路径 -->
    <add key="LogSavePath" value="e:\Log\"/>

    <!-- Socket重新连接次数 -->
    <add key="SocketReConnectTimes" value="5"/>

    <!-- 帐户验证类型：0=不需要验证；1=分服务器；2=主账号服务器 -->
    <add key="AccountServerType" value="0"/>
    <!-- 主账号服务器地址 -->
    <add key="AccountServerUrl" value="tcp://127.0.0.1:8060"/>
    <!-- 是否启动Remoting服务：true/false -->
    <add key="IsLoadRemoting" value="false"/>
    <!-- 是否接收高频数据 -->
    <add key="IsRecorderServer" value="true"/>
    <!--上海高频数据存放目录-->
    <add key="ShRecorderFilePath" value="e:\dbf\sh"/>
    <!--深圳高频数据存放目录-->
    <add key="SzRecorderFilePath" value="e:\dbf\sz"/>
    <!--代码最后更新日期-->
    <add key="codeListLastUpdateTime" value="2007-10-02"/>


    <!--应用的类型-->
    <!-- /// <summary>
        /// 仅服务器
         ///
        </summary>
         STServer,

        /// <summary>
      /// 仅客户端
      ///
    </summary>
    STClient,

    /// <summary>
      /// 既是服务器又是客户端
      ///
    </summary>
    STClientServer,
    -->
    <add key="ServerType" value="STClientServer"/>
    <!--应用作为客户端时 指定需要连接的服务器的ip和服务端口-->
    <add key="ServerSocketPort" value="8055"/>
    <!--<add key="ServerIp" value="210.75.15.11"/>-->
    <add key="ServerIp" value="192.168.100.34"/>
    <!--应用作为服务器/客户端&服务器 时 让客户端连接的服务端口-->
    <add key="LocalSocketPort" value="10156"/>
    <!--STClientServer类型的应用第一次连接到STServer应用时，开始发送订阅完整行情信息的延迟时间（毫秒）-->
    <add key="ClientServerSubscibeAllDelayTime" value="3000"/>

    <add key="ResetTimerInterval" value="2000"/>
    <add key="ResetTimeRangeStart" value="10:00"/>
    <add key="ResetTimeRangeEnd" value="12:00"/>

    <!--The backLog limits the listen queue of the OS socket to the defined number-->
    <add key="SocketBackLog" value="100"/>
    <!--acceptThreads sets the calling number of the socket's BeginAccept to increase the accept performance-->
    <add key="SocketAcceptThreadCount" value="100"/>

    <!-- 消息缓冲区大小 -->
    <add key="MessageBufferSize" value="3145728"/>
    <!-- Socket缓冲区大小 -->
    <add key="SocketBufferSize" value="3145728"/>
    <!--Udp Socket接收缓存大小-->
    <add key="UdpReciveBufferSize" value="20971520"/>



    <!--上午开市时间-->
    <add key="MarketingAmStartTime" value="9:30"/>
    <!--上午休市时间-->
    <add key="MarketingAmEndTime" value="11:30"/>
    <!--下午开市时间-->
    <add key="MarketingPmStartTime" value="13:00"/>
    <!--下午休市时间-->
    <add key="MarketingPmEndTime" value="14:05"/>
    <!--检查并判断作为断开连接的最后更新时间与现在时间的间隔（毫秒）-->
    <add key="CheckRefreshTimeInterval" value="20000"/>


    <!-- Socket End -->

    <!--UDP Settings Start -->
    <add key="ShUdpAcceptPort" value="38001"/>
    <add key="QhUdpAcceptPort" value="38003"/>
    <add key="SzUdpAcceptPort" value="38002"/>
    <!--UDP Settings end -->

	 
   
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
